* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #30b868;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
}

.btn:hover {
  background-color: #2a9d48;
  cursor: pointer;
}

.section-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}

/* Header Section Styles */

header {
  background: url(../assets/hero-bg.png);
  background-position: 0 95px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  width: 100%;
  max-width: 1800px;
  margin: 0px auto;
}

.container .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

.container .menu a {
  text-decoration: none;
  color: #001931;
}

header .banner {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 115.5px;
}
.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .btn-2 {
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
  color: #30b868;
  border: none;
  border-radius: 1000px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.btn-2:hover {
  background-color: #2a9d48;
  cursor: pointer;
  color: white;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.banner .btn-3 {
  margin-left: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  font-size: 16px;
  font-weight: 600;
}

.banner .btn-3:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
}

.banner .white-title {
  font-size: 72px;
  font-weight: 900;
  color: white;
}

.banner .green-title {
  font-size: 72px;
  font-weight: 900;
  color: rgba(48, 184, 104, 1);
  margin-bottom: 16px;
}

.banner .banner-info {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
}

/* result section styles */

#result {
  padding-top: 55px;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 1800px;
}

#result .result-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
}

#result .result-card {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.result-card .card-box {
  padding: 30px;
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #00000027;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.result-card .card-box .icon {
  background-color: #f95555;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon .center-1 {
  width: 32px;
  height: 32px;
  align-items: center;
}

.result-card .card-box h3 {
  margin-top: 16px;
  font-style: 700;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.result-card .card-box p {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/* Second brain section styles */

.second-brain{
  margin-top: 120px;
  display: flex;
  width: 100%;
  max-width: 1800px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.second-brain .image-container{
  max-width: 100%;
  height: auto;
}

.content-container .sub-title{
  color: #469165;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 16px;
}

.content-container h3{
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 16px;
}

.content-container .description{
  color: #627382;
  margin-bottom: 40px;
  font-size: 16px;
}

.feature-list{
  list-style: none;
}

.feature-list li{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
}
